.block {
  margin: 5px;
  padding: 50px;
}

#redBlock {
  background-color: red;
}

#blueBlock {
  background-color: blue;
}

#greenBlock {
  background-color: green;
}

#yellowBlock {
  background-color: yellow;
}